server.document-root = "~/Desktop/flarum-forums" 

server.port = 8000

mimetype.assign = (
  ".html" => "text/html", 
  ".txt" => "text/plain",
  ".jpg" => "image/jpeg",
  ".png" => "image/png" 
)

url.rewrite-if-not-file = (
  "/admin.*" => "/admin.php",
  "/api.*"   => "/api.php",
  "/.*"      => "/index.php"
)
